<ion-header>
  <ion-toolbar>
    <ion-title class="title-md">Estadísticas</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment [scrollable]="true" [(ngModel)]="selectedSegment">
      <ion-segment-button value="books">
        <ion-label class="paragraph-lg">Libros</ion-label>
      </ion-segment-button>
      <ion-segment-button value="expenses">
        <ion-label class="paragraph-lg">Dinero</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <app-books-statistics [ngClass]="{
    'hidden': selectedSegment !== 'books'
  }"></app-books-statistics>
  <app-finance-statistics [ngClass]="{
    'hidden': selectedSegment !== 'expenses'
  }"></app-finance-statistics>

</ion-content>