<ion-content [fullscreen]="true" class="ion-padding">

  <div class="wrapper">

    <form [formGroup]="form" class="content" (ngSubmit)="onSubmit()">

      <h1 class="medium-weight">Librario</h1>

      <div class="field">
        <ion-label class="paragraph-lg medium-weight">Nombre</ion-label>
        <ion-input type="text" placeholder="Nombre completo" formControlName="name"></ion-input>
        <app-form-error [control]="nameControl"></app-form-error>
      </div>

      <div class="field">
        <ion-label class="paragraph-lg medium-weight">Correo electrónico</ion-label>
        <ion-input type="email" placeholder="Correo electrónico" formControlName="email"></ion-input>
        <app-form-error [control]="emailControl"></app-form-error>
      </div>

      <div class="field">
        <ion-label class="paragraph-lg medium-weight">Contraseña</ion-label>
        <ion-input type="password" placeholder="Contraseña" formControlName="password"></ion-input>
        <app-form-error [control]="passwordControl"></app-form-error>
      </div>

      <div class="field">
        <ion-label class="paragraph-lg medium-weight">Repetir contraseña</ion-label>
        <ion-input type="password" placeholder="Repetir contraseña" formControlName="confirmPassword"></ion-input>
        <app-form-error [control]="confirmPasswordControl"></app-form-error>
      </div>

      <ion-button class="paragraph-lg semibold-weight" color="primary" expand="block" type="submit"
        [disabled]="form.invalid">
        <ion-icon name="pencil"></ion-icon>
        Registrate
      </ion-button>

      <span class="paragraph-xs">
        ¿Ya tienes cuenta? <a routerLink="/login">Inicia sesión</a>
      </span>

    </form>

  </div>

</ion-content>