<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="closeModal()">
      <ion-icon name="chevron-back" class="paragraph-lg"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="form" class="spaced-column">

    <div class="header">

      <h1 class="title-lg">Elija el libro</h1>

      <ion-input 
      type="text" 
      placeholder="Escriba el autor o título"
      class="input-styled"
      formControlName="searchTerm">
      </ion-input>
    </div>

    @if(isBookListLoaded) {
      <!-- | filterBookList: searchTerm -->
    <ng-container *ngIf="(bookList | filterBookList: searchTerm) as books">
      @for (book of books; track book.id) {
      <app-book-preview
      [author]="book.author" 
      [title]="book.title" 
      [coverUrl]="book.coverUrl || ''"
      (onClick)="onBookSelect(book)">
      </app-book-preview>
      }

      @if (books.length === 0) {
      <div class="no-result paragraph-lg">No hay libros</div>
      }

    </ng-container>

    }@else if(isBookListLoaded === undefined){
    <div class="spinner-container">
      <ion-spinner name="crescent" color="primary"></ion-spinner>
    </div>
    } @else {
    <div class="no-result paragraph-lg">Error al cargar la información</div>
    }

  </form>
</ion-content>